/* ProductDetails.css */

.product-details-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding:20px;
  }
  
  .product-image {
    flex: 1;
    margin-right: 20px;
  }
  
  .product-image img {
    width: 300px;
    height: auto;
  }
  
  .product-info {
    margin-top: 20px;
  }
  
  .product-info p {
    margin-bottom: 10px;
  }
  
  .product-bullets {
    margin-top: 20px;
    font-size: 16px;
  }
  
  .product-bullets ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .product-bullets li {
    margin-bottom: 5px;
  }
  
  .product-name {
    font-weight: bold;
    font-size: 24px;
  }
  
  .product-brand {
    margin-bottom: 10px;
  }
  
  .product-return {
    margin-bottom: 10px;
  }
  
  .product-buttons {
    display: flex;
    flex-direction: column;
  }
  
  .button-container{
    display:flex;
  }

  .button-container button {
    margin-right: 40px; 
  }
  .button-container button:first-child {
    margin-right: 0;
  }