    .product-details-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 600px;
      margin: auto;
    }
    
    .product-picture {
      display: flex;
      flex-direction: row-reverse;
    }
    
    .product-picture img {
      max-width: 200px; 
      margin-left: 20px;
    }
    
    .product-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 300px; /* Adjust as needed */
    }
    
    .product-details h2 {
      font-size: 2em; /* Larger font size */
      margin: 0; /* Reset margin */
    }
  
  .product-price {
    margin: 5px 0;
    font-weight: bold;
    font-size: 18px;
  }
  
  .quantity-button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
  }
  
  .return-info {
    margin: 10px 0;
    color: #666;
  }
  
  .product-bullets {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .product-bullets ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #333;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .action-button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .buy-now-button {
    background: #ff4500;
    color: white;
  }
  
  .add-to-cart-button {
    background: #4caf50;
    color: white;
  }

  .bn .atc{
    margin-left : 3px;
  }
  